*{
    box-sizing: border-box;
}
body {
    margin:0; 
    padding:0; 
    background:#efefef;
    text-align:center;
}
main{
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}
.videoThumbnail{
    border: 1px solid black;
    padding: 20px;
}

#previousButton, #nextButton{
    display:none;
}

.channelButton{
    display:block;
    text-align:center;
    margin: 0 auto;
}

#wrapper{
        width:600px; 
        margin:0 auto; 
        background:white; 
        border:1px solid #ccc;
        border-top:none; 
        padding:25px; 
        border-radius:0 0 5px 5px;
        -moz-border-radius:0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px; 
        box-shadow:0 0 5px #ccc;
        -moz-box-shadow:0 0 5px #ccc;
        -webkit-box-shadow:0 0 5px #ccc;
    }
}